@import "tailwindcss";
@plugin "daisyui" {
  themes: gruvbox-light --default, gruvbox-dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "gruvbox-light";
  default: true;
  color-scheme: light;

  --color-base-100: oklch(95.6% 0.0555 96.15);
  --color-base-200: oklch(92.2% 0.0553 92.53);
  --color-base-300: oklch(89.4% 0.0566 89.24);
  --color-base-content: oklch(34.4% 0.0066 48.52);
  --color-primary: oklch(51.3% 0.1616 39.30);
  --color-primary-content: oklch(95.6% 0.0555 96.15);
  --color-secondary: oklch(53.4% 0.0822 155.40);
  --color-secondary-content: oklch(95.6% 0.0555 96.15);
  --color-accent: oklch(54.6% 0.1124 106.46);
  --color-accent-content: oklch(95.6% 0.0555 96.15);
  --color-neutral: oklch(82.5% 0.0507 85.12);
  --color-neutral-content: oklch(34.4% 0.0066 48.52);
  --color-info: oklch(47.1% 0.0816 215.81);
  --color-info-content: oklch(95.6% 0.0555 96.15);
  --color-success: oklch(54.6% 0.1124 106.46);
  --color-success-content: oklch(95.6% 0.0555 96.15);
  --color-warning: oklch(61.8% 0.1277 70.67);
  --color-warning-content: oklch(95.6% 0.0555 96.15);
  --color-error: oklch(43.7% 0.1789 28.26);
  --color-error-content: oklch(95.6% 0.0555 96.15);

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "gruvbox-dark";
  color-scheme: dark;

  --color-base-100: oklch(27.7% 0.0000 0.00);
  --color-base-200: oklch(24.1% 0.0049 219.67);
  --color-base-300: oklch(34.4% 0.0066 48.52);
  --color-base-content: oklch(89.4% 0.0566 89.24);
  --color-primary: oklch(73.1% 0.1820 51.69);
  --color-primary-content: oklch(27.7% 0.0000 0.00);
  --color-secondary: oklch(75.6% 0.1078 137.68);
  --color-secondary-content: oklch(27.7% 0.0000 0.00);
  --color-accent: oklch(76.5% 0.1581 110.83);
  --color-accent-content: oklch(27.7% 0.0000 0.00);
  --color-neutral: oklch(41.1% 0.0115 51.87);
  --color-neutral-content: oklch(89.4% 0.0566 89.24);
  --color-info: oklch(69.3% 0.0420 169.77);
  --color-info-content: oklch(27.7% 0.0000 0.00);
  --color-success: oklch(76.5% 0.1581 110.83);
  --color-success-content: oklch(27.7% 0.0000 0.00);
  --color-warning: oklch(83.2% 0.1595 82.99);
  --color-warning-content: oklch(27.7% 0.0000 0.00);
  --color-error: oklch(66.0% 0.2175 30.39);
  --color-error-content: oklch(27.7% 0.0000 0.00);

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
